<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!-- v:if条件指令：还有v-else、v-else-if 切换开销大 -->
    <div id="app">
        <input type="checkbox" name="" id=""  v-model="accept">是否同意
        <p v-if="accept">您已同意</p>
        <p v-if="!accept">查看协议</p>
    </div>

    <!-- v:show 条件指令 初始渲染开销大 -->
    <div id="app1">
            <input type="checkbox" name="" id=""  v-model="accept">是否同意
            <p v-show="accept">您已同意</p>
            <p v-show="!accept">查看协议</p>
        </div>

    <script src="vue.min.js"></script>
    <script>
        let vue = new Vue({
            el: "#app",
            data: {
                accept:false
            }
        })
        let vue1 = new Vue({
            el: "#app1",
            data: {
                accept:false
            }
        })
    </script> 
</body>
</html>